/* navbar */

::-webkit-scrollbar {
    display: none;
}

nav ul {
    font-size: 20px;
    list-style-type: none;
}

.logo {
    width: 110px;

}
body {
    height: 125vh;
    background-color: white;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 110px;
    padding: 30px;
}

nav ul {
    word-spacing: 20px;
}

header li a {
    text-decoration: none;
    color: black;
}

header {
    background-color: #babbf6;
    border-bottom: 3px solid black;
    border-radius: 10px;
    ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

/* main body */


main .part1 h2 {
    float: left;
    font-size: 120px;
    color: black;
    padding-top: 100px;
    padding-left: 150px;
}

main .part1 .bg2 {
    float: right;
    padding: 65px;
    width: 800px;
}

.skill {
    float: left;
    padding: 40px 0px 0px 100px;

}
.skill p{
    font-size: 40px;
    font-weight: bold;
}

.title {
    font-size: 100px;
}

#progressbar {
    width: 900px;
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}

#progressbar>div {
    background-color: orange;
    width: 95%;

    height: 20px;
    border-radius: 10px;
}

#progressbar1 {
    width: 900px;
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}

#progressbar1>div {
    background-color: orange;
    width: 85%;

    height: 20px;
    border-radius: 10px;
}

#progressbar2 {
    width: 900px;
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}

#progressbar2>div {
    background-color: orange;
    width: 25%;

    height: 20px;
    border-radius: 10px;
}

#progressbar3 {
    width: 900px;
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}

#progressbar3>div {
    background-color: orange;
    width: 20%;

    height: 20px;
    border-radius: 10px;
}

#progressbar4 {
    width: 900px;
    background-color: black;
    border-radius: 13px;
    padding: 3px;
}

#progressbar4>div {
    background-color: orange;
    width: 3%;

    height: 20px;
    border-radius: 10px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    float: right;
    padding-top: 40px;
    padding: 150px;
}

.icons img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
}

#Learnings {
    clear: both;
    padding: 20px;
}

.Learnings {
    padding: 60px;
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-gap: 40px;
    margin-top: 50px;
}

.grid div {
    background-color: azure;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

form input,
form textarea {
    width: 98%;
    border: 1px solid black;
    outline: none;
    background: lightblue;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius: 8px;
}

.btn {
    display: inline-block;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid black;
    padding: 15px 50px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

#contact {
    padding: 80px;
}